[Desktop Entry]
Type=Application
Name=Runelite
Comment=Osrs client with plugin support
Exec=/usr/bin/runelite
Icon=
Terminal=false
Categories=Game
Keywords=Osrs;Runescape;Runelite
